head
script(type='text/javascript', src='https://code.jquery.com/jquery-1.7.1.min.js')
script(src='../bower_components/jquery.countdown/dist/jquery.countdown.js')
meta(http-equiv='refresh', content='10')

body
  ul
    each driver in data
      audio#timer-beep
        source(src='../audio/beep.mp3')
      div(data-beep=driver.should_beep)
      h1 #{driver.name}'s Countdown to Return:
      h2(data-countdown=driver.timeback)
      div(data-beep=driver.should_beep)
      li Timeback: #{driver.timeback}
      li Store ID: #{driver.store_number}


script.
  $('[data-countdown]').each(function() {
  var $this = $(this), finalDate = $(this).data('countdown');
  console.log($this);
  $this.countdown(finalDate, function(event) {
  $this.html(event.strftime('%M:%S'));
  });
  });
  $('[data-beep]').each(function() {
  var $this = $(this);
  if($this.data){
  document.getElementById( 'timer-beep' ).play();
  }
  });
  


